<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEMA Mutual Fund System</title>
    <link rel="stylesheet" href="/showLoan_style.css">
</head>
<body>
    <table>
        <thead>
          <th>FEMA Member ID</th>
          <th>Member Full Name</th>
          <th>Department In-charge</th>
          <th>Total Loan</th>
          <th>Date Registered</th>
        </thead>
        <tbody id="memberTableData"></tbody>

      </table>

      <script src="/showMember_script.js"></script>
</body>


</html>