<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEMA - Mutual Fund System</title>
    <link rel="stylesheet" href="index_style.css">
</head>
<body>
    <form id="LoginForm">
        <label for="adminUsername">Username</label>
        <input type="text" name="username" id="adminUsername"> <br>
        <label for="adminPassword">Password</label>
        <input type="password" name="password" id="adminPassword"> <br>
        <button type="submit">Log In</button>
    </form>
    <script src="index_scripts.js">

    </script>
</body>
</html>